################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Cpp/Cpp_day10/.vs/Cpp_day10/v16/Browse.VC.opendb
